.header__button_type_drop-down {
  display: none;
}

@media screen and (max-width:950px) {
    .header__button_type_drop-down {
      display: block;
      background-color: transparent;
      border: none;
      width: 44px;
      height: 44px;
      background-image: url(../../../../images/header-menu.svg);
      margin: 15px 0 0 0;
    }
  }

  @media screen and (max-width:400px) {
    .header__button_type_drop-down {
      margin: 15px 14px 0 0;
    }
  }