.portfolio__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000000;
}

.portfolio__link:not(:first-child) {
  padding: 0 0 0 20px;
}

@media screen and (max-width:400px) {
  .portfolio__link:not(:first-child) {
    padding: 0 0 0 25px;
  }
}