.promo__title {
    max-width: 626px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    text-align: start;
    color: #000000;
    margin: 50px 0 406px 70px;
    letter-spacing: -0.04em;
}

@media screen and (max-width:950px) {
    .promo__title {
      margin: 300px 0 440px 0;
      text-align: center;
    }
}

@media screen and (max-width:400px) {
    .promo__title {
        font-size: 31px;
        line-height: 39px;
        margin: 183px 0 330px 0;
    }
}