.header__button_type_menu {
    width: 100px;
    background-color: #FFFFFF;
    border: none;
    position: absolute;
    bottom: 92px;
    margin: 0 0 0 25px;
    display: block;
}

@media screen and (max-width:400px) {
  .header__button_type_menu {
    bottom: 48px;
  }
}