.portfolio__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 99px 0 0 0;
  margin: 0;
}

@media screen and (max-width:950px) {
  .portfolio__links {
    padding: 87px 0 0 0;
  }
}

@media screen and (max-width:400px) {
  .portfolio__links {
    padding: 55px 0 0 0;
  }
}