.header__link_type_loggedin {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-left: 20px;
}

@media screen and (max-width:768px) {
    .header__link_type_loggedin {
        display: none;
    }
}