.portfolio {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 110px 0 0 0; 
  align-items: center;
}

@media screen and (max-width:950px) {
  .portfolio {
    padding: 90px 0 0 0;
  }
}


@media screen and (max-width:400px) {
  .portfolio {
    padding: 70px 0 0 0;
  }
}