.moviescardlist {
    margin: 0;
    padding: 70px 0 0 0;
    list-style-type: none;
    display: grid;
    row-gap: 40px;
}

@media screen and (max-width:950px) {
    .moviescardlist {
        row-gap: 40px;
        padding: 59px 0 0 0;
    }
}

@media screen and (max-width:400px) {
    .moviescardlist {
        row-gap: 20px;
        padding: 40px 0 0 0;
        grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
        justify-content: center;
    }
}