.footer__title {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
    text-decoration: none;
    margin-bottom: 20px;
}

@media screen and (max-width:950px) {
    .footer__title {
        margin: 10px 0 20px 12px;
    }
}

@media screen and (max-width:400px) {
    .footer__title {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 21px;
    }
}