.promo__logo {
    width: 722px;
    height: 244px;
    background-image: url(../../../images/promo_logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    opacity: 0.7;
    right: 70px;
    bottom: 60px;
}

@media screen and (max-width:768px) {
    .promo__logo {
        max-width: 680px;
        max-height: 230px;
        bottom: 70px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .promo__logo {
        width: 320px;
        height: 230px;
        bottom: 40px;
    }
}