.header__button {
    width: 76px;
    height: 32px;
    background-color: #2BE080;
    border-radius: 3px;
    color: black;
    margin-right: 70px;
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:950px) {
  .header__button {
    margin-right: 30px;
  }
}

@media screen and (max-width:400px) {
  .header__button {
    margin: 24px 14px 24px 0;
    width: 54px;
    height: 26px;
  }
}